<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link" routerLink="todoTask" routerLinkActive="active">TODO tasks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="doneTask" routerLinkActive="active">Done tasks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!authService.user">Sign in</a>
  </li>
  <li class="nav-item">
    <a href class="nav-link" (click)="signout()" *ngIf="authService.user">Sign out</a>
  </li>
</ul>
<router-outlet></router-outlet>
